configs/snapshots
work
obj_dir
sw
*.vcd
*.csv
*.log
*.exe
*.swp
*.sym
verilator-build
program.hex
snapshots
__pycache__
sim_build
sim-build*
venv
results.xml
verification/sim
verilator-cocotb-build
*.dat
*.xml
*.json
# Except for the schema
!*.schema.json
*.log
*.rpt
**sim*
!verification/uvm_i2c/dv_i2c_sim.scr
src/csr/html
src/csr/md
src/rdl/docs/html*
build
questa_run
uvm-1.2*
# Generated defines for tests
verification/tools/i3c_defines.svh
