__pycache__
!*.schema.json
.nox/
.pre-commit-config.yaml
*.csv
*.dat
*.egg-info
*.exe
*.info
*.ipynb
*.json
*.log
*.rpt
*.swp
*.sym
*.vcd
*.xml
build/
configs/
dsim_metrics.db
dsim_work/
dsim-build
dsim.env
i3cPHYsim_icarus
i3cPHYsim_verilator
obj_dir/
program.hex
questa_work/
results.xml
sim_build/
sim/
src/csr/html/
src/csr/md/
src/rdl/docs/html*
sw/
tools/uvm/generic
tools/uvm/verilator
uvm-1.2*/
vcs_work/
venv/
verification/tools/i3c_defines.svh
work/
