[submodule "third_party/caliptra-rtl"]
	path = third_party/caliptra-rtl
	url = ../caliptra-rtl
[submodule "third_party/cocotbext-i3c"]
	path = third_party/cocotbext-i3c
	url = ../cocotbext-i3c
[submodule "third_party/axi-vip"]
	path = third_party/axi-vip
	url = https://github.com/SymbiFlow/axi-vip.git
